@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
html{

    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    background: #FFFFFF;
    font-family: Saira;
    font-size: 20px;
    color: #23262F; 
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../img/intro.jpg") center no-repeat;
    background-size: cover;
    color: #FFFFFF;
}

.intro__inner {
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 30px auto;
    position: relative;
    font-size: 64px;
    font-weight: 600;
    line-height: 120%;
}

.intro__subtitle {
    margin: auto;
    max-width: 610px;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 1%;
}

/* Header */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__logo {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Nav*/
.nav {
    font-size: 16px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 32px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav__link:hover {
    font-weight: 600;
}

/*Button*/
.button {
    margin: 65px auto;
    display: inline-block;
    vertical-align: top;
    padding: 16px 80px;
    font-size: 20px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    background-color: rgba(226, 226, 226, 0.4);
    border-radius: 10px;
    backdrop-filter: blur(20px);
}

.button:hover {
    background-color: #FFFFFF;
    color: #23262F;
}

/* Statistics */
.statistics {
    margin-bottom: 50px;
    background-color: #286F6C;
    border-radius: 20px;
    max-width: 1240px;
}

.stat {
    display: flex;
    justify-content: center;
}


.statistic__item {
    flex: 1 1 0;
    border-right: 1px solid #FFFFFF;
    text-align: center;
    color: #FFFFFF;
    padding: 38px 95px;
}


.statistic__item:last-child {
    border-right: 0px solid #FFFFFF;
}

.statistic__number {
    font-size: 40px;
    font-weight: 600;
}

/* Section */ 
.section {
    padding: 50px 0; 
}

.aestetic__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aestetic__column {
    flex-basis: 554px;
    margin-left: 100px;
}

.aestetic__title {
    max-width: 500px;
    margin: 0 0 15px;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    color: #23262F;
}

.aestetic__subtitle {
    max-width: 530px;
    margin: 0 0 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #23262F;
}

.aestetic__point {
    display: inline-block;
    margin: 0 16px 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #23262F;
    position: absolute;
}

.icon {
    display: inline-block;
    position: relative;
}

.aestetic__text {
    margin: 0 42px 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #23262F;
}

/* New item */
.new__items {
    padding: 50px 0;
}

.item__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__column-slider {
    flex-basis: 925px;
    margin-left: 70px;
    overflow: hidden;
}

.slider {
    max-width: 265px;
    height: 400px;
    margin: 0 10px;
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.slider__name {
    position: absolute;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    bottom: 20px;
    display: block;
    width: 100%; 
    text-align: center;
}

.slider__img-1 {
    background-image: linear-gradient(180deg,rgba(0, 0, 0, .1) 70%, rgba(0, 0, 0, .8)), url(../img/slider1.jpg);
    
}

.slider__img-2 {
    background-image: linear-gradient(180deg,rgba(0, 0, 0, .1) 70%, rgba(0, 0, 0, .8)), url(../img/slider2.jpg);
}

.slider__img-3 {
    background-image: linear-gradient(180deg,rgba(0, 0, 0, .1) 70%, rgba(0, 0, 0, .8)), url(../img/slider3.jpg);
}

.slider__img-4 {
    background-image: linear-gradient(180deg,rgba(0, 0, 0, .1) 70%, rgba(0, 0, 0, .8)), url(../img/slider4.jpg);
}

.item__title {
    max-width: 210px;
    margin: 0 0 89px;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    color: #23262F;
}

.item__text {
    max-width: 245px;
    margin: 0 0 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #23262F;  
}

.item__link {
    max-width: 245px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #23262F;  
    border-bottom: 1px solid #23262F; 
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.arrow {
    max-width: 20px;
    max-height: 20px;
    margin-left: 10px;
}

/*Furniture*/
.furniture {
    padding: 50px 0;
}

.furniture__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.furniture__column {
    flex-basis: 570px;
    margin-right: 115px;
}

.furniture__title {
    max-width: 555px;
    margin: 0 0 35px;
    font-weight: 600;
    font-size: 40px;
    line-height: 130%;
    color: #23262F;
}

.furniture__text {
    max-width: 550px;
    font-weight: 400;
    font-size: 20px;
    line-height: 170%;
    color: #23262F;
}

/*Products*/
.products {
    padding: 30px 0;
}

.products__inner {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.products__title {
    max-width: 205px;
    margin: 0 auto 15px;
    font-weight: 600;
    font-size: 40px;
    color: #23262F;
}

.products__text {
    margin: 0 auto 50px;
    text-align: center;
    max-width: 540px;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: #23262F;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.cards__slider {
    max-width: 1240px;
    max-height: 820px;
    flex-wrap: wrap;
    
}

.cards__inner {
    max-width: 295px;
    max-height: 380px; 
    flex: 1 1 0;
    margin-bottom: 60px;  
}

.img {
    max-width: 295px;
    max-height: 300px;
    border: rgba(16, 38, 55, .1) 1px solid;
    border-radius: 16px;
    object-fit: cover;
    position: relative;
}

.plus {
    top: 50%;
    left: 50%;
    position: absolute;
    z-index: 2000;
}

.card__name {
    max-width: 295px;
    margin: 15px 0 8px;
    font-weight: 600;
    font-size: 24px;
    color: #23262F;
    line-height: 130%;
    text-align: left;
}

.card__price {
    margin-right: 15px;
    max-width: 295px;
    font-weight: 400;
    font-size: 16px;
    color: #23262F;
    line-height: 165%;;
    display: inline;
}

.card__price-old {
    max-width: 295px;
    font-weight: 400;
    font-size: 14px;
    color: #23262F;
    line-height: 165%;
    opacity: 50%;
    display: inline;
    text-decoration: line-through;
}

